{% extends 'generic.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- Dashboard content -->
    <div class="row">
        <div class="col-md-12">

            <!-- Basic layout-->
            <form method="post">
                {% csrf_token %}
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{% trans 'Add ASN' %}<a class="heading-elements-toggle"><i
                                class="icon-more"></i></a></h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="reload"></a></li>
                                <li><a data-action="close"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>{% trans 'ASN' %}</label>
                            <input type="text" name="asn" class="form-control"
                                   placeholder="{% trans 'Example: 3333' %}">
                        </div>


                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">{% trans 'Add' %} <i
                                    class="icon-arrow-left13 position-right"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- /basic layout -->
        </div>
    </div>
    <!-- /dashboard content -->

    <!-- Default ordering -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{% trans 'List of Asns' %}</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>


        <table class="table datatable-sorting">
            <thead>
            <tr>
                <th class="text-center">{% trans 'AS Number' %}</th>
                <th class="text-center">{% trans 'Actions' %}</th>

            </tr>
            </thead>
            <tbody>
            {% for item in asns %}
                <tr role="row" class="{% cycle "odd" "even" %}">
                    <td class="text-center">AS{{ item.asn }}</td>
                    {#                    <td class="text-center">-#}
                    {#                        {% for origin in item.origins %}#}
                    {#                            <span> AS{{ origin.origin }}</span> -#}
                    {#                        {% endfor %}#}
                    {#                    </td>#}
                    <td class="text-center">
                        <span>
                            <a href="{{ item.asn }}/delete">{% trans 'Delete' %}</a>
                            |
                        <a href="{{ item.asn }}/policy">{% trans 'Make Policy' %}</a>
                        |
                        <a href="{{ item.asn }}/neighbors">{% trans 'List neighbors' %}</a>
                        |
                        <a href="{{ item.asn }}/prefixes">{% trans 'List Prefixes' %}</a></p>
                        </span>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
    <!-- /default ordering -->
{% endblock content %}
