{% extends 'generic.html' %}

{% load static %}
{% load i18n %}
{% block content %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="row">
        <div class="col-md-12">

            <!-- Basic layout-->
            <form method="POST" action="/asn/{{ asn }}/prefix/add/">
                {% csrf_token %}
                <input type="hidden" name="origin" value="{{ asn }}">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{% trans 'Detected prefixes originated from AS' %}{{ asn }}<a
                                class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="reload"></a></li>
                                <li><a data-action="close"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <a id="SelectAll">{% trans "Select All" %}</a>
                        </div>



                        {% if prefixes %}
                            <div class="form-group">
                                <label class="text-semibold">{% trans 'AS Number of Service Providers' %}</label>

                                <div class="row">

                                    {% for prefix in prefixes %}

                                        <div class="col-md-3">
                                            <input name="prefix" value="{{ prefix }}"
                                                   type="checkbox"
                                                   class="styled"
                                                    {% if prefix in saved_prefixes %}
                                                   checked="checked"
                                                   disabled="disabled"
                                                    {% endif %} >
                                            &nbsp;{{ prefix }}


                                        </div>

                                    {% endfor %}


                                </div>
                            </div>
                        {% endif %}



                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">{% trans 'Save' %} <i
                                    class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- /basic layout -->
        </div>
    </div>
{% endblock content %}

