{% extends 'generic.html' %}


{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}


    {% include 'message.html' %}
    {% block messages %}
    {% endblock messages %}


    <h2 class="text-center">{% trans 'Make Policy' %}</h2>
    <form data-abide="aqyk5r-abide" method="POST" action="/{{ LANGUAGE_CODE }}/asn/{{ asn }}/prefix/add/">

        {% csrf_token %}
        <input type="hidden" name="origin" value="{{ asn }}">

        <div class="grid-x grid-margin-x">

            <fieldset class="cell medium-12">
                <legend>{% trans 'Detected prefixes' %}</legend>
                {% if prefixes %}
                    {% for prefix in prefixes %}
                        <input id="checkbox1" type="checkbox" name="prefix" value="{{ prefix }}">
                        <label for="checkbox1">{{ prefix }}</label>
                    {% endfor %}
                {% endif %}


            </fieldset>

        </div>

        <br>
        <a id="SelectAll" data-open="exampleModal1" aria-controls="exampleModal1" aria-haspopup="true"
           tabindex="0">{% trans "Select All" %}</a>


        <div class="grid-x grid-margin-x">
            <fieldset class="cell medium-6">
                <button class="button" type="submit" value="Submit">{% trans 'Save' %}</button>
            </fieldset>

        </div>
    </form>


    <div class="js-off-canvas-overlay is-overlay-absolute"></div>

{% endblock content %}