{% extends 'generic.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- Default ordering -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{% trans 'List of Notifications' %}</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>
        <table class="table datatable-sorting">
            <thead>
            <tr>
                <th width="5"></th>
                <th width="150">{% trans 'Prefix' %}</th>
                <th class="text-center">{% trans 'Originator' %}</th>
                <th class="text-center">{% trans 'Path' %}</th>
                <th class="text-center">{% trans 'Type' %}</th>
                <th class="text-center">{% trans 'Time' %}</th>
                <th class="text-center">{% trans 'Action' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for notification in notifications %}

                <tr role="row">
                    <td>
                         <ul class="icons-list">
                            <li class="dropdown ">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="icon-menu9"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    {% for path in notification.5|separate %}
                                        <li><a><i class="icon"></i> {{ path }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td class="text-center">{{ notification.1 }}</td>
                    <td class="text-center">{{ notification.2 }}</td>
                    <td class="text-center">{{ notification.5|path_summary }}

                    </td>
                    <td class="text-center">{{ notification.3|status }}</td>
                    <td class="text-center">{{ notification.4|to_date }}</td>
                    <td class="text-center"><span>
                            {% if notification.3 == 1 %}
                                <span class="text-green">{% trans 'Fixed' %}</span>

                            {% else %}
                                <a onclick="fixNotification({{ notification.0 }}, this);">{% trans 'Fix' %}
                            {% endif %}
                        </a></span></td>
                </tr>





            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /default ordering -->


{% endblock content %}