{% extends 'generic.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- Default ordering -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{% trans 'List of Notifications' %}</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>


        <table class="table datatable-sorting">
            <thead>
            <tr>
                <th width="150">{% trans 'Prefix' %}</th>
                <th class="text-center">{% trans 'Originator' %}</th>
                <th class="text-center">{% trans 'Path' %}</th>
                <th class="text-center">{% trans 'Type' %}</th>
                <th class="text-center">{% trans 'Time' %}</th>
                <th class="text-center">{% trans 'Action' %}</th>


            </tr>
            </thead>
            <tbody>

            {% for notification in notifications %}
                <tr role="row" class="{% cycle "odd" "even" %}">
                    <td class="text-center">{{ notification.prefix }}</td>
                    <td class="text-center">{{ notification.asn }}</td>
                    <td class="text-center">{{ notification.path }}</td>
                    <td class="text-center">{{ notification.type|status }}</td>
                    <td class="text-center">{{ notification.time|to_date }}</td>
                    <td class="text-center"><span>
                            {% if notification.status == 1%}
                                <span class="text-green">{% trans 'Fixed' %}</span>

                            {% else %}
                                <a href="/notifications/{{ notification.id }}/fix">{% trans 'Fix' %}
                            {% endif %}
                            </a></span></td>


                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
    <!-- /default ordering -->


{% endblock content %}