.ideas
web/apps/backend/tmp/latest-update.gz
web/apps/backend/tmp/out.csv
web/apps/backend/management/commands/import_updates.sh
static/* linguist-vendored
.DS_Store
venv/
web/.DS_Store
web/__pycache__/__init__.cpython-38.pyc
web/apps/__pycache__/__init__.cpython-38.pyc
web/apps/backend/__pycache__/__init__.cpython-38.pyc
web/apps/backend/tmp/.DS_Store
web/apps/jwt_store/migrations/0006_group.py
web/apps/jwt_store/migrations/0007_auto_20191031_0655.py
web/apps/jwt_store/migrations/0008_auto_20191031_0657.py
web/apps/jwt_store/migrations/0009_auto_20191031_0659.py
web/apps/jwt_store/migrations/0010_auto_20191031_0728.py
web/apps/jwt_store/migrations/__pycache__/0006_group.cpython-37.pyc
web/apps/jwt_store/migrations/__pycache__/0007_auto_20191031_0655.cpython-37.pyc
web/apps/jwt_store/migrations/__pycache__/0008_auto_20191031_0657.cpython-37.pyc
web/apps/jwt_store/migrations/__pycache__/0009_auto_20191031_0659.cpython-37.pyc
web/apps/jwt_store/migrations/__pycache__/0010_auto_20191031_0728.cpython-37.pyc
web/apps/main_app/__pycache__/__init__.cpython-38.pyc
web/apps/main_app/__pycache__
web/apps/main_app/forms/__pycache__/profile_form.cpython-37.pyc
web/apps/main_app/migrations/0035_auto_20191021_1300.py
web/apps/main_app/migrations/0036_auto_20191021_1545.py
web/apps/main_app/migrations/0037_auto_20191028_0518.py
web/apps/main_app/migrations/0038_stats_duration.py
web/apps/main_app/migrations/__pycache__/0035_auto_20191021_1300.cpython-37.pyc
web/apps/main_app/migrations/__pycache__/0036_auto_20191021_1545.cpython-37.pyc
web/apps/main_app/migrations/__pycache__/0037_auto_20191028_0518.cpython-37.pyc
web/apps/main_app/migrations/__pycache__/0038_stats_duration.cpython-37.pyc
web/apps/main_app/models/__pycache__/stats.cpython-37.pyc
web/apps/main_app/views/__pycache__/limits.cpython-37.pyc
web/apps/main_app/views/profile/__pycache__/
web/settings/__pycache__/__init__.cpython-38.pyc
web/settings/__pycache__/production.cpython-38.pyc
web/static/assets/.DS_Store
/web/settings/development.py
