{% load static %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%  trans 'Login/SignUp' %}</title>
    <link rel="stylesheet" href="http//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
<div class="grid-container full login-page">


  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}


    <div class="login-wrap">
        <div class="login-html">
             {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                                                                                     class="tab">{% trans 'Reset Password' %}</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up" hidden="hidden">
            <label for="tab-2" class="tab"></label>
            <div class="login-form">

                 <p>{% trans "We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder." %}</p>

                        <div class="group">
                            <input type="button" onclick="window.location.href='/'" class="button" value="{% trans 'Login' %}">
                        </div>
                        <div class="hr"></div>

                    </div>

                    <input type="hidden" name="next" value="/"/>
                </form>
            </div>

        </div>
    </div>

</div>

<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="{% static 'js/morris.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/vendor/foundation.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>

{% block content %}
  <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
{% endblock %}