{% extends 'generic.html' %}


{% load static %}
{% load i18n %}
{% block content %}




    <!-- Default ordering -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{% trans 'Origins of ' %}{{ prefix }}</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>


        <table class="table datatable-sorting">
            <thead>
            <tr>
                <th class="text-center">{% trans 'Origin' %}</th>
                <th class="text-center">{% trans 'Actions' %}</th>

            </tr>
            </thead>
            <tbody>
            {% for orig in origins %}
                <tr role="row" class="{% cycle "odd" "even" %}">
                    <td class="text-center">AS{{ orig.origin }}</td>
                    <td class="text-center"><span>
                                    <a href="/prefix/{{ orig.id }}/origin/delete/" data-open="exampleModal1"
                                       aria-controls="exampleModal1"
                                       aria-haspopup="true" tabindex="0">{% trans 'Delete' %}</a></span>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <!-- /default ordering -->

{% endblock content %}