{% extends 'generic.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- Dashboard content -->
    <div class="row">
        <div class="col-md-12">
            <!-- Basic layout-->
            <form method="post" action="/prefix/policy/">
                {% csrf_token %}
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{% trans 'Make Policy' %}<a class="heading-elements-toggle"><i
                                class="icon-more"></i></a></h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="reload"></a></li>
                                <li><a data-action="close"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <a id="SelectAll">{% trans "Select All" %}</a>
                        </div>
                        <div class="form-group">
                            <label class="text-semibold">{% trans 'Found route objects' %}</label>
                            <div class="row">
                                {% if route_objects %}
                                    {% for route in route_objects %}


                                        <div class="col-md-3">
                                            <input name="prefix"
                                                   value="{{ route }}"
                                                   type="checkbox"
                                                   class="styled"
                                                    {% if route in saved_prefixes %}
                                                   checked="checked"
                                                   disabled="disabled"
                                                    {% endif %}
                                            >
                                            &nbsp;{{ route }}
                                        </div>

                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">{% trans 'Continue' %} <i
                                        class="icon-arrow-right13 position-right"></i></button>
                            </div>
                        </div>
                    </div>
            </form>
            <!-- /basic layout -->
        </div>
    </div>
    <!-- /dashboard content -->
{% endblock content %}