{% extends 'generic.html' %}


{% load static %}
{% load i18n %}
{% block content %}
    {% get_current_language as LANGUAGE_CODE %}

    <!-- Dashboard content -->
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">

            <!-- Basic layout-->
            <form method="post">
                {% csrf_token %}
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{% trans 'Make Policy' %}<a class="heading-elements-toggle"><i
                                class="icon-more"></i></a></h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="reload"></a></li>
                                <li><a data-action="close"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>{% trans 'Found route objects' %}</label>
                            {% if route_objects %}
                                {% for route in route_objects %}
                                    <label>
                                        <div class="checker border-primary-600 text-primary-800"><span class="checked">
                                                        <input name="prefix" value="{{ route }}" type="checkbox"
                                                               class="control-primary"></span></div>
                                        {{ route }}
                                    </label>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        <a id="SelectAll" data-open="exampleModal1" aria-controls="exampleModal1" aria-haspopup="true"
                           tabindex="0">{% trans "Select All" %}</a>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">{% trans 'Continue' %} <i
                                    class="icon-arrow-left13 position-right"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- /basic layout -->
        </div>
    </div>
    <!-- /dashboard content -->
{% endblock content %}