{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_CODE == 'fa' %}rtl{% elif  LANGUAGE_CODE == 'en' %}ltr{% endif %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans 'BGPMonitor' %}</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/datatables_sorting.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
    <!-- custom JS files -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <!-- /custom JS files -->

</head>

<body class="navbar-bottom">

<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><p class="text-white text-bold ">BGPMonitor</p></a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
            </li>

        </ul>


        <ul class="nav navbar-nav navbar-right">
<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img src="assets/images/placeholder.jpg" alt="">
						<span>{{ request.user.username }}</span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
						<li><a href="#"><i class="icon-key"></i>Change Password</a></li>
{#						<li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>#}
						<li class="divider"></li>
{#						<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>#}
						<li><a href="/accounts/logout"><i class="icon-switch2"></i> Logout</a></li>
					</ul>
				</li>

        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Page header -->
<div class="page-header">


    <div class="page-header-content">
        <div class="page-title">

        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">

            </div>
        </div>
    </div>
</div>
<!-- /page header -->


{% block generic %}

{% endblock generic %}


<!-- Footer -->
<div class="navbar navbar-default navbar-fixed-bottom footer">
    <ul class="nav navbar-nav visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i
                class="icon-circle-up2"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="footer">
        <div class="navbar-text">
            &copy; All rights reserved for <a href="https://gharghi.ir" class="navbar-link"> Shahin</a>
        </div>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="https://bgpmonitor.net">Homepage</a></li>

            </ul>
        </div>
    </div>
</div>
<!-- /footer -->

</body>
</html>