{% extends 'base.html' %}
{% load i18n %}
{% block generic %}

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            {% block sidebar %}
                {% include 'sidebar.html' %}
            {% endblock sidebar %}

            <!-- Main content -->
            <div class="content-wrapper">

                {% include 'message.html' %}
                {% block content %}

                {% endblock content %}
            </div>
            <!-- /Main content -->
        </div>

        <!-- /page content -->

    </div>
    <!-- /page container -->

{% endblock generic %}