{% extends 'generic.html' %}


{% load static %}
{% load i18n %}
{% block content %}






<div class="content-wrapper">

<div class="row">


<div class="col-md-6">
    <div class="panel panel-flat">
        <div class="panel-heading">
								<h6 class="panel-title text-semibold"> {% trans 'Number of ASNs' %} <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
								<div class="heading-elements">
									<ul class="icons-list">
				                		<li><a data-action="collapse"></a></li>
				                		<li><a data-action="reload"></a></li>
				                		<li><a data-action="close"></a></li>
				                	</ul>
			                	</div>
							</div>
        <div class="panel-body">
            <h1>{{ asns }}</h1>
    </div>
        </div>
</div>
    <div class="col-md-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
								<h6 class="panel-title text-semibold">{% trans 'Number of Prefixes' %}<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
								<div class="heading-elements">
									<ul class="icons-list">
				                		<li><a data-action="collapse"></a></li>
				                		<li><a data-action="reload"></a></li>
				                		<li><a data-action="close"></a></li>
				                	</ul>
			                	</div>
							</div>
             <div class="panel-body">
                 <h1>{{ prefixes }}</h1>
             </div>
            </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
								<h6 class="panel-title text-semibold">{% trans 'Number of Notifications' %}<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
								<div class="heading-elements">
									<ul class="icons-list">
				                		<li><a data-action="collapse"></a></li>
				                		<li><a data-action="reload"></a></li>
				                		<li><a data-action="close"></a></li>
				                	</ul>
			                	</div>
							</div>
             <div class="panel-body">
 <h1>{{ notifications }}</h1>
             </div>
    </div>
</div>

</div>
</div>
{% endblock content %}
