{% block messages %}
    {% if messages %}
        <div class="row">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert {% if 'success' in message.tags %}
                        alert-success
                        {% elif 'error' in message.tags %}
                        alert-danger
                        {% elif 'info' in message.tags %}
                        alert-info
                        {% elif 'warning' in message.tags %}
                        alert-warning
                        {% endif %} alert-bordered">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock messages %}



