{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block sidebar %}
    <!-- Main sidebar -->
    <div class="sidebar sidebar-main sidebar-default">
        <div class="sidebar-content">
            <!-- Main navigation -->
            <div class="sidebar-category sidebar-category-visible">
                <div class="category-title h6">
                    <span>Main navigation</span>
                    <ul class="icons-list">
                        <li><a href="#" data-action="collapse"></a></li>
                    </ul>
                </div>

                <div class="category-content sidebar-user">
                    <div class="media">
                        <a href="#" class="media-left"><img src="{% static 'assets/images/placeholder.jpg' %}"
                                                            class="img-circle img-sm" alt=""></a>
                        <div class="media-body">
                            <span class="media-heading text-semibold">{% trans 'Hello ' %}{{ request.user.firstname }}</span>
                            <div class="text-size-mini text-muted">
                                Welcome to BGPMonitor
                            </div>
                        </div>

                        <div class="media-right media-middle">
                            <ul class="icons-list">
                                <li>
                                    <a href="#"><i class="icon-cog3"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion">
                        <!-- Main -->
                        <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i>
                        </li>
                        <li class="active"><a href="/"><i class="icon-home4"></i>
                            <span>{% trans "Dashboard" %}</span></a></li>
                        <li>
                            <a href="/prefix/"><i class="icon-stack2"></i> <span>{% trans "Prefixes" %}</span></a>
                        </li>
                        <li>
                            <a href="/asn/"><i class="icon-stack2"></i> <span>{% trans "ASNs" %}</span></a>
                        </li>
                        <li>
                            <a href="/notifications/"><i class="icon-stack2"></i>
                                <span>{% trans "Notifications" %}</span></a>
                        </li>
                        <li>
                            <a href="/notifications/rules/"><i class="icon-stack2"></i>
                                <span>{% trans "Notification Rules" %}</span></a>
                        </li>
                        <!-- /main -->
                    </ul>
                </div>
            </div>
            <!-- /main navigation -->

        </div>
    </div>
    <!-- /main sidebar -->
{% endblock sidebar %}