.progress-line {

    background-color: #edf0ff;
    border-radius: 1rem;
    display: inline-block;
    height: 1rem;
    margin: 1.5rem 0 2.5rem 0;
    position: relative;
    width: 15rem;

}
.progress-line:before {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  content:  attr(data-remaintraffic) ' ' attr(data-title)  ;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  font-weight: bold;
}
.progress-line:after {
  background-color: #0083ff;
  border-radius: 1rem;
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.progress-line:hover:after,
.progress-line:focus:after {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.progress-line[data-progress="1"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 1%, #edf0ff 1%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="2"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 2%, #edf0ff 2%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="3"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 3%, #edf0ff 3%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="4"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 4%, #edf0ff 4%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="5"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 5%, #edf0ff 5%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="6"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 6%, #edf0ff 6%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="7"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 7%, #edf0ff 7%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="8"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 8%, #edf0ff 8%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="9"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 9%, #edf0ff 9%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="10"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 10%, #edf0ff 10%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="11"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 11%, #edf0ff 11%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="12"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 12%, #edf0ff 12%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="13"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 13%, #edf0ff 13%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="14"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 14%, #edf0ff 14%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="15"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 15%, #edf0ff 15%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="16"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 16%, #edf0ff 16%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="17"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 17%, #edf0ff 17%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="18"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 18%, #edf0ff 18%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="19"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 19%, #edf0ff 19%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="20"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 20%, #edf0ff 20%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="21"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 21%, #edf0ff 21%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="22"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 22%, #edf0ff 22%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="23"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 23%, #edf0ff 23%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="24"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 24%, #edf0ff 24%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="25"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 25%, #edf0ff 25%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="26"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 26%, #edf0ff 26%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="27"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 27%, #edf0ff 27%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="28"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 28%, #edf0ff 28%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="29"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 29%, #edf0ff 29%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="30"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 30%, #edf0ff 30%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="31"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 31%, #edf0ff 31%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="32"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 32%, #edf0ff 32%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="33"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 33%, #edf0ff 33%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="34"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 34%, #edf0ff 34%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="35"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 35%, #edf0ff 35%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="36"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 36%, #edf0ff 36%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="37"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 37%, #edf0ff 37%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="38"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 38%, #edf0ff 38%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="39"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 39%, #edf0ff 39%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="40"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 40%, #edf0ff 40%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="41"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 41%, #edf0ff 41%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="42"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 42%, #edf0ff 42%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="43"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 43%, #edf0ff 43%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="44"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 44%, #edf0ff 44%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="45"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 45%, #edf0ff 45%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="46"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 46%, #edf0ff 46%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="47"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 47%, #edf0ff 47%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="48"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 48%, #edf0ff 48%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="49"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 49%, #edf0ff 49%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="50"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 50%, #edf0ff 50%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="51"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image: linear-gradient(to right, #a1e8d0 51%, #edf0ff 51%, #edf0ff), linear-gradient(to left, #edf0ff 50%, transparent 50%, transparent);
}
.progress-line[data-progress="52"]:after {
  box-shadow: 0px 0px 18px -1px #b6eddb;
  background-image:linear-gradient(to right, #ffc001 52%, #edf0ff 52%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="53"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 53%, #edf0ff 53%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="54"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 54%, #edf0ff 54%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="55"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 55%, #edf0ff 55%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="56"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
background-image:linear-gradient(to right, #ffc001 56%, #edf0ff 56%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="57"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 57%, #edf0ff 57%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="58"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 58%, #edf0ff 58%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="59"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 59%, #edf0ff 59%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="60"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 60%, #edf0ff 60%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="61"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 61%, #edf0ff 61%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="62"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 62%, #edf0ff 62%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="63"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 63%, #edf0ff 63%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="64"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 64%, #edf0ff 64%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="65"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 65%, #edf0ff 65%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="66"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 66%, #edf0ff 66%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="67"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  bbackground-image:linear-gradient(to right, #ffc001 67%, #edf0ff 67%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="68"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 68%, #edf0ff 68%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="69"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 69%, #edf0ff 69%, #edf0ff), linear-gradient(to left, #ffc001 50%, transparent 50%, transparent);
}
.progress-line[data-progress="70"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 70%, #edf0ff 70%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="71"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 71%, #edf0ff 71%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="72"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 72%, #edf0ff 72%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="73"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 73%, #edf0ff 73%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="74"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 74%, #edf0ff 74%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="75"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 75%, #edf0ff 75%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="76"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 76%, #edf0ff 76%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="77"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 77%, #edf0ff 77%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="78"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 78%, #edf0ff 78%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="79"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 79%, #edf0ff 79%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="80"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 80%, #edf0ff 80%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="81"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 81%, #edf0ff 81%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-line[data-progress="82"]:after {
  box-shadow: 0px 0px 18px -1px #ffdd76;
  background-image:linear-gradient(to right, #ffc001 82%, #edf0ff 82%, #edf0ff), linear-gradient(to left, #ffc001 71%, transparent 71%, transparent);
}
.progress-circle[data-progress="83"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 83%, #edf0ff 83%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="84"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 84%, #edf0ff 84%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="85"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 85%, #edf0ff 85%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="86"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 86%, #edf0ff 86%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="87"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 87%, #edf0ff 87%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="88"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 88%, #edf0ff 88%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="89"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 89%, #edf0ff 89%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="90"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 90%, #edf0ff 90%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="91"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
background-image:linear-gradient(to right, #e07f89 91%, #edf0ff 91%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="92"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 92%, #edf0ff 92%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="93"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 93%, #edf0ff 93%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="94"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 94%, #edf0ff 94%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="95"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 95%, #edf0ff 95%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="96"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 96%, #edf0ff 96%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="97"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 97%, #edf0ff 97%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="98"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 98%, #edf0ff 98%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="99"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 99%, #edf0ff 99%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.progress-line[data-progress="100"]:after {
  box-shadow: 0px 0px 18px -1px #ecb5bb;
  background-image:linear-gradient(to right, #e07f89 100%, #edf0ff 100%, #edf0ff), linear-gradient(to left, #e07f89 71%, transparent 71%, transparent);
}
.special-bundel--title h4 {

    font-size: 1rem;
    line-height: 1;
    font-weight: bold;

}
.traffic-remain-box.singel-box > div.progress-line {

    width: 40rem;

}



.progress-circle {
  background-color: #edf0ff;
  border-radius: 50%;
  display: inline-block;
  height: 15rem;
  margin: 1.5rem 0 2.5rem 0;
  position: relative;
  width: 15rem;
}
.progress-circle:before {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  content:  attr(data-remaintraffic) ' ' attr(data-title)  ;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  font-weight: bold;
}
.progress-circle:after {
  background-color: #0083ff;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
}
.progress-circle:hover:before,
.progress-circle:focus:before {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
/**
* $step is set to 5 by default, meaning you can only use percentage classes in increments of five (e.g. 25, 30, 45, 50, and so on). This helps to reduce the size of the final CSS file. If you need a number that doesn't end in 0 or 5, you can change the text percentage while rounding the class up/down to the nearest 5.
*/
.progress-circle[data-progress="0"]:after {
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(90deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
  box-shadow: 0px 0px 50px -25px #b6eddb;
}
.progress-circle[data-progress="1"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(93.6deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="2"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(97.2deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="3"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(100.8deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="4"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(104.4deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="5"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(108deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="6"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(111.6deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="7"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(115.2deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="8"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(118.8deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="9"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(122.4deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="10"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(126deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="11"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(129.6deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="12"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(133.2deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="13"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(136.8deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="14"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(140.4deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="15"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(144deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="16"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(147.6deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="17"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(151.2deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="18"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(154.8deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="19"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(158.4deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="20"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(162deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="21"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(165.60000000000002deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="22"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(169.2deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="23"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(172.8deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="24"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(176.4deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="25"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(180deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="26"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(183.60000000000002deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="27"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(187.2deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="28"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(190.8deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="29"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(194.4deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="30"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(198deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="31"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(201.60000000000002deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="32"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(205.2deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="33"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(208.8deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="34"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(212.4deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="35"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(216deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="36"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(219.6deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="37"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(223.20000000000002deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="38"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(226.8deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="39"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(230.4deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="40"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(234deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="41"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(237.6deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="42"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(241.20000000000002deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="43"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(244.8deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="44"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(248.4deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="45"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(252deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="46"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(255.6deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="47"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(259.20000000000005deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="48"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(262.8deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="49"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(90deg, #edf0ff 50%, transparent 50%, transparent), linear-gradient(266.4deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="50"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(-90deg, #a1e8d0 50%, transparent 50%, transparent), linear-gradient(270deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="51"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(-86.4deg, #a1e8d0 50%, transparent 50%, transparent), linear-gradient(270deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="52"]:after {
  box-shadow: 0px 0px 50px -25px #b6eddb;
  background-image: linear-gradient(-82.8deg, #a1e8d0 50%, transparent 50%, transparent), linear-gradient(270deg, #a1e8d0 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="53"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-79.2deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="54"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-75.6deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="55"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-72deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="56"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-68.4deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="57"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-64.8deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="58"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-61.2deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="59"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-57.6deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="60"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-54deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="61"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-50.4deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="62"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-46.8deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="63"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-43.199999999999996deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="64"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-39.6deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="65"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-36deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="66"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-32.4deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="67"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-28.799999999999997deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="68"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-25.200000000000003deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="69"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-21.599999999999994deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="70"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-18deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="71"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-14.399999999999991deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="72"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-10.799999999999997deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="73"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-7.200000000000003deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="74"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(-3.599999999999994deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="75"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(0deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="76"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(3.600000000000009deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="77"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(7.200000000000003deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="78"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(10.799999999999997deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="79"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(14.400000000000006deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="80"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(18deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="81"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(21.60000000000001deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="82"]:after {
  box-shadow: 0px 0px 50px -25px #ffdd76;
  background-image: linear-gradient(25.200000000000003deg, #ffc001 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc001 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="83"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(28.799999999999997deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="84"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(32.400000000000006deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="85"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(36deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="86"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(39.599999999999994deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="87"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(43.20000000000002deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="88"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(46.80000000000001deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="89"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(50.400000000000006deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="90"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(54deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="91"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(57.599999999999994deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="92"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(61.20000000000002deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="93"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(64.80000000000001deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="94"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(68.4deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="95"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(72deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="96"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(75.6deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="97"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(79.20000000000002deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="98"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(82.80000000000001deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="99"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(86.4deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
.progress-circle[data-progress="100"]:after {
  box-shadow: 0px 0px 50px -25px #ecb5bb;
  background-image: linear-gradient(90deg, #e07f89 50%, transparent 50%, transparent), linear-gradient(270deg, #e07f89 50%, #edf0ff 50%, #edf0ff);
}
